*{
	box-sizing: border-box;
	
}
body{
	background-color: skyblue;
}
#xxx{
	border:2px 2px 2px 2px;
	border-color:black;
	border-style:solid;
	float:right;
	padding:5px 50px;
}
#box1{
	
	padding:10px;
	border:5px solid black;
	width:300px;
	margin:50px 50px 50px 50px;
	float:left;
	border-height:300px;


	background-color:#90EE90;



}
h1{
	margin bottom:30px;
	text-align:center;
}
.row{
	width:15%;
}


    /*******large devices only***/

@media(min-width:1200px){
	.col-lg-1,.col-lg-2,.col-lg-3{
		float:left;
		border:1px solid green;
	}
}
.col-lg-1{
	width:33.33%;
}

     /*********medium  devices only*****/
     @media(min-width:950px)and(max-width:1199){
     	.col-lg-1,.col-lg-2,.col-lg-3{
		float:left;
		border:1px solid green;
   }
}

.col-mg-2{
	width:50%;
}
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }

